
.title {
  text-align: center;
}

.buttons {
  margin-top: 20px;

  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.show {
  margin-top: 10px;

  display: flex;
  align-items: center;
  justify-content: center;
}